	<!-- Header -->
	<%- include('partials/header.ejs') %>
	<!-- ACA PODEMOS HACER UN IF PARA EL HEADER LOGUEADO CON QUERYSRTING BUT IDK -->
	<!-- /Header -->
	
	<!-- Banner -->
	<div class="banner">
		<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
			<div class="carousel-inner">
			  <div class="carousel-item active">
				<img src="images/banner.png" class="d-block w-100" alt="...">
			  </div>
			  <div class="carousel-item">
				<img src="images/banner1.png" class="d-block w-100" alt="...">
			  </div>
			  <div class="carousel-item">
				<img src="images/banner2.png" class="d-block w-100" alt="...">
			  </div>
			</div>
		  </div>
		<!-- <img src="images/banner.png" alt="Banner de ofertas"> -->
		<!-- <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
			<div class="carousel-inner">
			  <div class="carousel-item active">
				<img src="images/banner.png" class="d-block w-100" alt="...">
			  </div>
			  <div class="carousel-item">
				<img src="images/banner1.png" class="d-block w-100" alt="...">
			  </div>
			  <div class="carousel-item">
				<img src="images/banner2.png" class="d-block w-100" alt="...">
			  </div>
			</div>
			<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
			  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
			  <span class="visually-hidden">Previous</span>
			</button>
			<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
			  <span class="carousel-control-next-icon" aria-hidden="true"></span>
			  <span class="visually-hidden">Next</span>
			</button>
		  </div> -->
	</div>
	<!-- /Banner -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Últimos Modelos</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<% for(let i=0; i < 4; i++) { %>
				<div class="col-12 col-sm-6 col-lg-3">
					<section class="product-box">
						<a href="/product/<%= product[i].id %>">
							<figure class="product-box_image">
								<img src="<%= product[i].imagen %>" alt="Jordans">
							</figure>
							<article class="product-box_data">
								<h2> <%= product[i].modelo %> </h2>
								<p> <%= product[i].descripcion %> </p>
								<p> Comentarios: <%= product[i].comentarios %> </p>
							</article> 
						</a>
					</section>
				</div>
			<% } %>
		</div>
	</div>
	<!-- /Novedades -->
	<!-- Más comentados -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Más Populares</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<% for(let i=4; i < 8; i++) { %>
				<div class="col-12 col-sm-6 col-lg-3">
					<section class="product-box">
						<a href="/product/<%= product[i].id %>">
							<figure class="product-box_image">
								<img src="<%= product[i].imagen %>" alt="Jordans">
							</figure>
							<article class="product-box_data">
								<h2> <%= product[i].modelo %> </h2>
								<p> <%= product[i].descripcion %> </p>
								<p> Comentarios: <%= product[i].comentarios %> </p>
							</article> 
						</a>
					</section>
				</div>
			<% } %>
		</div>
	</div>
	<!-- /Más comentados -->


	<!-- footer -->
	<%- include('partials/footer.ejs') %>
	
</body>	
</html>