	<!-- Header -->
	<% if(user =! null){ %> 
		<%- include('partials/headerLogueado.ejs') %> 
	<% } else { %>
		<%- include('partials/header.ejs') %>
	<% } %>
	<!-- /Header -->
	
	<!-- Banner -->
	<div class="banner">
		<img src="images/banner.png" alt="Banner">
	</div>
	<!-- /Banner -->

	<!-- Últimos Modelos -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Últimos Modelos</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<% for(let i=0; i < 4; i++) { %>
				<div class="col-12 col-sm-6 col-lg-3">
					<section class="product-box">
						<a href="/product/<%= resultados[i].id %>">
							<figure class="product-box_image">
								<img src="<%= resultados[i].image %>" alt="Jordans">
							</figure>
							<article class="product-box_data">
								<h2> <%= resultados[i].modelo %> </h2>
								<p> <%= resultados[i].descripcion %> </p>
								<p> Comentarios: <%= resultados[i].comentarios %>  </p>
							</article> 
						</a>
					</section>
				</div>
			<% } %>
		</div>
	</div>
	<!-- /Últimos Modelos -->
	<!-- Más populares -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Más Populares</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<% for(let i=4; i < resultados.length; i++) { %>
				<div class="col-12 col-sm-6 col-lg-3">
					<section class="product-box">
						<a href="/product/<%= resultados[i].id %>">
							<figure class="product-box_image">
								<img src="<%= resultados[i].image %>" alt="Jordans">
							</figure>
							<article class="product-box_data">
								<h2> <%= resultados[i].modelo %> </h2>
								<p> <%= resultados[i].descripcion %> </p>
								<p> Comentarios: <%= resultados[i].comentarios %> </p>
							</article> 
						</a>
					</section>
				</div>
			<% } %>
		</div>
	</div>
	<!-- /Más populares -->


	<!-- footer -->
	<%- include('partials/footer.ejs') %>
	
</body>	
</html>