	<!-- Header -->
	<% if(user=! null){ %> 
		<%- include('partials/headerLogueado.ejs') %> 
	<% } else { %>
		<%- include('partials/header.ejs') %>
	<% } %>
	<!-- /Header -->
	
	<!-- product detail -->
	<div class="container products-wrapper">
		<div class="d-flex align-items-center">
			<h2 class="products-title"> <%= resultados.modelo %></h2> 
			<p class="product-detail-description">
				<a href="/product/product-edit/<%= resultados.id %>">Editar</a>
				<form style="display: inline;" action="/product/<%=resultados.id %>" method="POST">
					<button class="btn btn-danger" type="submit">Borrar</button>
				</form>
			</p>
		</div>
		<div class="product-detail">
			<div class="row">
				<article class="col-12 col-lg-8 product-detail-info">
					<img src="<%= resultados.image %>" alt="" class="product-detail-img">
					<p class="product-detail-description"> <%= resultados.descripcion %> </p>
				</article>
				<div class="col-12 col-lg-4">
					<section class="comments">
						<% for(let i=0; i < resultados.comentario.length; i++) { %>
							<article>
							<img src="" alt="">
								<div class="data">
									<p class="user">
									<strong> <a href="/profile"> : <%= resultados.comentario[i].comentario %> </a> </strong>
									</p>
								</div>
							</article>
						<% } %>
					</section>
					<form class="form" action="" method="POST">
						<input class="form-input" type="text" value="" placeholder="Agregar comentario">
						<button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
					</form>
				</div>
			</div>
		</div>
	</div>
	<!-- /product detail -->

	<!-- footer -->
	<%- include('partials/footer.ejs') %>

</body>	
</html>