	<!-- Header -->
	<%- include('partials/headerLogueado.ejs') %>
	<!-- /Header -->

	<!-- Datos del usuario -->
	<section class="info-usuario container products-wrapper">
		<div class="row">
			<div class="img-container offset-3 col-2">
				<img src="https://via.placeholder.com/150" alt="foto de perfil" class="foto-perfil">
			</div>
			<div class="data-container col-6">
				<div class="d-flex align-items-center ">
					<h1 class="main-title"> <%= profile[1].nombre%> <%= profile[1].apellido%> 
						<a href="/profile/profile-edit">
							<i class="fas fa-cog"></i>
						</a>
					</h1>
					<a class="btn mt-3 ml-4" href="">SEGUIR</a>
				</div>
				<div>
					<ul class="">
						<li><%= profile[1].productos%> productos</li>
						<li><%= profile[1].seguidores%>  seguidores</li>
						<li><%= profile[1].comentarios%>  comentarios</li>
					</ul>
				</div>
			</div>
		</div>
	</section>
	<!-- /Datos del usuario -->

	<!-- Mis productos -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Mis productos</h2>
			</div>
			<!-- Show mis productos -->
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="/product">
						<figure class="product-box_image">
							<img src="<%= product[0].imagen %>" alt="Jordans">
						</figure>
						<article class="product-box_data">
							<h2> <%= product[0].modelo %> </h2>
							<p> <%= product[0].descripcion %> </p>
							<p> Comentarios: <%= product[0].comentarios %> </p>
						</article> 
					</a>
				</section>
			</div>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="/product">
						<figure class="product-box_image">
							<img src="<%= product[1].imagen %>" alt="Jordans">
						</figure>
						<article class="product-box_data">
							<h2> <%= product[1].modelo %> </h2>
							<p> <%= product[1].descripcion %> </p>
							<p> Comentarios: <%= product[1].comentarios %> </p>
						</article> 
					</a>
				</section>
			</div>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="/product">
						<figure class="product-box_image">
							<img src="<%= product[2].imagen %>" alt="Jordans">
						</figure>
						<article class="product-box_data">
							<h2> <%= product[2].modelo %> </h2>
							<p> <%= product[2].descripcion %> </p>
							<p> Comentarios: <%= product[2].comentarios %> </p>
						</article> 
					</a>
				</section>
			</div>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="/product">
						<figure class="product-box_image">
							<img src="<%= product[3].imagen %>" alt="Jordans">
						</figure>
						<article class="product-box_data">
							<h2> <%= product[3].modelo %> </h2>
							<p> <%= product[3].descripcion %> </p>
							<p> Comentarios: <%= product[3].comentarios %> </p>
						</article> 
					</a>
				</section>
			</div>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="/product">
						<figure class="product-box_image">
							<img src="<%= product[4].imagen %>" alt="Jordans">
						</figure>
						<article class="product-box_data">
							<h2> <%= product[4].modelo %> </h2>
							<p> <%= product[4].descripcion %> </p>
							<p> Comentarios: <%= product[4].comentarios %> </p>
						</article> 
					</a>
				</section>
			</div>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="/product">
						<figure class="product-box_image">
							<img src="<%= product[5].imagen %>" alt="Jordans">
						</figure>
						<article class="product-box_data">
							<h2> <%= product[5].modelo %> </h2>
							<p> <%= product[5].descripcion %> </p>
							<p> Comentarios: <%= product[5].comentarios %> </p>
						</article> 
					</a>
				</section>
			</div>
		</div>
	</div>
	<!-- /Mis productos -->


	<!-- footer -->
	<%- include('partials/footer.ejs') %>
</body>	
</html>