<!-- Header -->
<% if(locals.id != null){ %> 
	<%- include('partials/headerLogueado.ejs') %> 
<% } else { %>
	<%- include('partials/header.ejs') %>
<% } %>
<!-- /Header -->

<!-- Resultados -->
<div class="container products-wrapper">
	<div class="row">
		<div class="col-12">
			<h2 class="products-title">Resultados de busqueda</h2>
		</div>
		<% if(resultados == ''){ %> 
			<h2>No hay resultados para su criterio de busqueda</h2>
		<% }else{ %> 
		<% for(let i=0; i < resultados.length; i++) { %>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="/product/products/<%= resultados[i].id %> ">
						<figure class="product-box_image">
							<img src="<%= resultados[i].image %> " alt="Jordans">
						</figure>
						<article class="product-box_data">
							<h2> <%= resultados[i].modelo %> </h2>
							<p> <%= resultados[i].descripcion %>  </p>
							<p> Comentarios:<%= resultados[i].comentarios %>  </p>
							<p><a href="/users/other-profiles/<%= resultados[i].user.id %>"> <%= resultados[i].user.nombre %> <%= resultados[i].user.apellido %> </a> </p>
						</article> 
					</a>
				</section>
			</div>
		<% }} %>
	</div>
</div>

<!-- footer -->
<%- include('partials/footer.ejs') %>
</body>

</html>